[submodule "Services/UserService"]
	path = src/Services/UserService
	url = https://github.com/MaciejNET/PixelPulseUserService
[submodule "SharedGo"]
	path = src/Share/SharedGo
	url = https://github.com/MaciejNET/PixelPulseSharedGo
